a
{
  color: #0000EE;
}
.style3
{
  font-family: Georgia, "Times New Roman", Times, serif;
}
.labels
{
  font-size:13px;
}
#formdiv
{
  text-align:center;
}
#imgdiv
{
  padding-top:37px;
  display:block;
  text-align:center;
}
#about
{
  font-size:16px;
  text-align:center;
}
#copyright, #contact
{
  font-size:13px;
  text-align:center;
}
